.paginator {
  margin: 20px;
  display: flex;
  justify-content: center;
}
button {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  border: 0px;
  cursor: pointer;
  margin: 5px;
}
button:disabled {
  cursor: not-allowed;
}
button:hover {
  background-color: #ddd;
  color: black;
}
.previous {
  background-color: #f1f1f1;
  color: black;
}
.next {
  background-color: #4caf50;
  color: white;
}
